body {
  background-color: aquamarine;
}

.title {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 50px;
  border: 5px solid blue;
  color: yellow;
  background-color: black;
}

.lordem li {
  background-color: #c7d82d;
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  font-size: 16px;
  margin: 4px 4px;
  opacity: 0.6;
  transition: 0.3s;
  margin-right: 30px;
}

li:hover {opacity: 1}

.fatos {text-align: center; font-family: Impact; text-decoration: underline; font-size: 35px;}

.fatos0 {
  font-size: 30px;
  font-style: italic;
  list-style-type: square;
}

.fatos1 {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fatos2 {
  font-size: 30px;
  font-style: italic;
  list-style-type: square;
  text-align: justify;
}

.fatos3 {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
}

.infobox th {
  color: blue;
  display: block;
  padding: 10px;
}

.vision {
  font-size: 30px;
  font-style: italic;
  list-style-type: square;
}

.vision-p {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
}

.link-p {
  font-size: 30px;
  font-style: italic;
  list-style-type: square;
}

.footer {
  text-align: center;
}